{% extends "_layout.jinja" %}
{% set schema_text = graph.namespace_manager.expand_curie("schema:text") %}
{% block main %}
{{ graph.value(graph.identifier, schema_text)|markdown_to_html|safe }}
{% endblock %}
